@{
    ViewData["Title"] = "Home Page";
}


<div class="container" id="subReq">
        <div class=" d-flex flex-column justify-content-center align-items-center mt-5" >
        <div class="d-flex" id="title">
               
                <img class="hallodoc-img" src="~/images/Login_Page_Title.png" alt="">
            <img onclick="myFunction()" class="light float-end mt-2 me-" src="~/images/darkmodelight.png" alt="">
               
      
        </div>


        <button class="btn  p-2 border-0 fw-medium mt-4 col-lg-5 col-md-6 col-sm-12 col-12 text-light" id="L_btn"
                type="button" onclick="location.href='@Url.Action("submitReq", "Patient_site")'">
            Submit A Request
                </button>
        <button class="btn  p-2 border-0 fw-medium mt-4 col-lg-5 col-md-6 col-sm-12 col-12 text-light" id="Register_Btn"
                type="button" onclick="location.href='@Url.Action("Patient_Login", "Patient_site")'">
            Registered Patients
        </button>
    <div class=" small p-2 ">
        <div class="text-center mt-5">
                <a href="/" id="anchr">Terms of Condition</a> &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
            <a href="/" id="anchr">Privacy Policy</a>
        </div>
   </div>
   </div>
</div>
