@using DataAccess.ViewModel;
@{
    ViewData["Title"] = "Patient_Login";
}
@model LoginModel
@await Html.PartialAsync("_Toast")
<style>
    body {
        height: 100vh;
        background-image: url("/images/bg.png");
    }

</style>
<div class=" d-flex d-flex   justify-content-between me-2 mt-2">
    <div></div>
    <div>
        <img class="hallodoc-img " id="img1" src="~/images/Login_Page_Title.png" alt="">
    </div>
    <div>
        <button class="m-3 p-2 px-3 me-3 ms-1 ms-md-3 rounded btn btn-outline-info btn-toggle">
            <i class="fa fa-moon i-info"></i>
        </button>
    </div>

</div>

<div class="container " id="resetJustify">

    <div class="d-flex justify-content-center align-content-center">
        <div class="">
            <a asp-controller="Home" asp-action="index" class="d-flex text-decoration-none align-items-center border border-0" id="back">
                <div class="d-flex">
                    <img class="back" src="/images/lt.png" alt="">
                </div>
                <span class="back-txt" id="back-btn">Back</span>
            </a>

            <div class="">
                <h3 class="mb-2" id="Title">
                    Login To Your Account
                </h3>
            </div>

        </div>
    </div>
    @*<div class="text-danger alert-danger">
    <p>
    @ViewBag.Message
    </p>
    </div>
    *@
    <form method="post" asp-action="CreateAccount" asp-controller="Login">
        <div class="d-flex justify-content-center align-content-center mt-3">

            <div class="form-floating mb-3 col-lg-4 col-md-6 col-sm-12 col-12">
                <input type="email" asp-for="Email" class="form-control " id="floatingInput" name="Email" placeholder="Your First Name">
                <i class="fa fa-user icon4"></i>
                <label for="floatingInput" class="text-dark ms-2">Email</label>
                <span asp-validation-for="Email" id="Errorinfo"></span>

            </div>

        </div>
        <div class="d-flex justify-content-center align-content-center mt-2 ">
            <div class="form-floating mb-3 col-lg-4 col-md-6 col-sm-12 col-12" id="">

                <input type="password" asp-for="Password" class="form-control password-input" id="passwordInput" name="Password" placeholder="Your First Name">
                <button type="button" class="toggle-password icon1" onclick="togglePasswordVisibility()">
                    <i id="toggleIcon" class="fa fa-eye"></i>
                </button>

                <label for="passwordInput" class="text-dark ms-2 foating-label">Password</label>
                @*              <button id="toggleIcon" onclick="togglePassword()"> <i class="fa fa-eye " aria-hidden="true"></i></button>
                *@


                <span asp-validation-for="Password" id="Errorinfo"></span>
            </div>
        </div>
        <div class="d-flex justify-content-center align-content-center mt-2 ">
            <div class="form-floating mb-3 col-lg-4 col-md-6 col-sm-12 col-12" id="">

                <input type="password" asp-for="ConfirmPassword" class="form-control password-input" id="passwordInput" name="Password" placeholder="Password">
                <button type="button" class="toggle-password icon1" onclick="togglePasswordVisibility()">
                    <i id="toggleIcon" class="fa fa-eye"></i>
                </button>

                <label for="passwordInput" class="text-dark ms-2 foating-label">Confirm Password</label>
                @*              <button id="toggleIcon" onclick="togglePassword()"> <i class="fa fa-eye " aria-hidden="true"></i></button>
                *@


                <span asp-validation-for="Password" id="Errorinfo"></span>
            </div>
        </div>


        <div class="d-flex justify-content-center align-content-center mt-2 mb-4">

            <button class="btn border-0 col-lg-4 col-md-6 col-sm-12 col-12 mb-3 text-light"
                    id="L_btn" type="submit">

                Log in

            </button>
        </div>
    </form>

    <div class="d-flex justify-content-center mb-2">
        <a asp-controller="Patient_Site" asp-action="resetPassword" class="mt-2" id="forgetPass">Forgot Password?</a>
    </div>
</div>

<footer class="d-flex justify-content-center align-items-center fixed-bottom mb-3">

    <a href="#" id="anchr">Terms of condition</a> &nbsp; <a>|</a>&nbsp;
    <a href="#" id="anchr">Privacy policy</a>

</footer>
<script>
    function togglePasswordVisibility() {
        var passwordInput = document.getElementById("passwordInput");
        var toggleIcon = document.getElementById("toggleIcon");

        if (passwordInput.type === "password") {
            passwordInput.type = "text";
            toggleIcon.classList.remove("fa-eye");
            toggleIcon.classList.add("fa-eye-slash");
        } else {
            passwordInput.type = "password";
            toggleIcon.classList.remove("fa-eye-slash");
            toggleIcon.classList.add("fa-eye");
        }
    }
</script>

