@{
    ViewData["Title"] = "Business";
}
@await Html.PartialAsync("_infoModel")
@await Html.PartialAsync("_header")
@model DataAccess.ViewModel.businessReq;

<!-- Main Body Part-->
<div class=" container mt-3 d-flex justify-content-between" id="back">
    <div></div>
    <div></div>
    <button class="btn btn-outline-info btn-large" onclick="location.href='@Url.Action("submitReq", "Patient_site")'">
        <i class="bi bi-chevron-left"></i>&nbsp;Back
    </button>
</div>
<form class="container form-group" method="post">

    <h3 class="mb-2">Business Information</h3>

    <!-- 2 column grid layout with text inputs for the first and last names -->
    <div class="row">
        <div class="col-lg-6 col-sm-12 form-floating mb-3">
            <input type="text" class="form-control " id="floatingInput" placeholder="Your First Name" asp-for="bFirstname">
            <label for="floatingInput" class=" text-dark ms-2">Your First Name<span class="text-danger">*</span></label>
            <span asp-validation-for="bFirstname" id="Errorinfo"></span>
        </div>
        <div class="col-lg-6 col-sm-12  form-floating mb-3">
            <input type="text" class="form-control " id="floatingInput" placeholder="Your Last Name" asp-for="bLastname">
            <label for="floatingInput" class="text-dark  ms-2">Your Last Name<span class="text-danger">*</span></label>
            <span asp-validation-for="bLastname" id="Errorinfo"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-sm-12 form-floating">
            <input type="tel" class="form-control p-3 ps-5 phoneNumber" placeholder="(201) 555-0123" id="phoneNumber1"  asp-for="bPhonenumber">
         
        </div>
        <div class=" col-lg-6 col-sm-12  form-floating mb-3 ">
            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" asp-for="bEmail">
            <label for="floatingInput" class="text-dark  ms-2">Email<span class="text-danger">*</span></label>
            <span asp-validation-for="bEmail" id="Errorinfo"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-sm-12 form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" asp-for="businessName">
            <label for="floatingInput" class="text-dark  ms-2">Business/Property Name</label>
            <span asp-validation-for="businessName" id="Errorinfo"></span>
        </div>
        <div class=" col-lg-6 col-sm-12 form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" asp-for="caseNo">
            <label for="floatingInput" class="text-dark  ms-2">Case Number(Optional)</label>
        </div>

    </div>

    <h3 class="mb-2">Patient Information</h3>
    <div class="row">
        <div class=" col-lg-12 form-floating mb-3">
            <textarea class="form-control" placeholder="Enter Brief Details of symptoms(optional)" id="floatingTextarea2" asp-for="Notes"
                      style="height: 100px"></textarea>
            <label for="floating Textarea2" class="text-dark  ms-2">Enter Brief Details of symptoms(optional)</label>
          
        </div>

    </div>
    <div class="row">
        <div class="col-lg-6 col-sm-12 form-floating mb-3">
            <input type="text" class="form-control " id="floatingInput" placeholder="Your First Name" asp-for="Firstname">
            <label for="floatingInput" class="text-dark  ms-2">First Name<span class="text-danger">*</span></label>
            <span asp-validation-for="Firstname" id="Errorinfo"></span>
        </div>
        <div class=" col-lg-6 col-sm-12 form-floating mb-3">
            <input type="text" class="form-control " id="floatingInput" placeholder="Your Last Name" asp-for="Lastname">
            <label for="floatingInput" class="text-dark  ms-2">Last Name<span class="text-danger">*</span></label>
            <span asp-validation-for="Lastname" id="Errorinfo"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-sm-12 form-floating mb-3">
            <input type="Date" class="form-control " id="floatingInput" placeholder="Date" id="dob" asp-for="DOB">
            <label for="floatingInput" class="text-dark  ms-2">Date<span class="text-danger">*</span></label>
            <span asp-validation-for="DOB" id="Errorinfo"></span>
        </div>
    </div>
    <h3 class="mb-2">Patient Contact Information</h3>
    <div class="row ">
        <div class=" col-lg-6 col-sm-12 form-floating mb-3">
            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" asp-for="Email">
            <label for="floatingInput" class="text-dark  ms-2">Email<span class="text-danger">*</span></label>
            <span asp-validation-for="Email" id="Errorinfo"></span>
        </div>
        <div class="col-lg-6 col-sm-12 form-floating">
            <input type="tel" class="form-control p-3 ps-5 phoneNumber" placeholder="(201) 555-0123" id="phoneNumber2" asp-for="Phonenumber">
            
        </div>
    </div>
    <h3 class="mb-2">Patient Location</h3>
    <div class="row ">
        <div class="col-lg-6 col-sm-12 form-floating mb-3">
            <input type="text" class="form-control " id="floatingInput" placeholder="Street" asp-for="Street">
            <label for="floatingInput" class="text-dark  ms-2">Street</label>
            
        </div>
        <div class="col-lg-6 col-sm-12 form-floating mb-3">
            <input type="text" class="form-control " id="floatingInput" placeholder="City" asp-for="City">
            <label for="floatingInput" class="text-dark  ms-2">City</label>
       
        </div>
    </div>
    <div class="row ">
        <div class="col-lg-6 col-sm-12 form-floating mb-3">
            <select class="form-select form-control inputform1" asp-for="State">
                @foreach (var i in Model.Regions)
                {
                    <option value="@i.Regionid">@i.Name</option>
                }
            </select>

            <label for="state" class="dropdown-toggle" asp-for="State">State<span class="text-danger">*</span></label>
            
        </div>
        <div class=" col-lg-6 col-sm-12 form-floating mb-3">
            <input type="number" class="form-control" id="floatingInput" placeholder="number" asp-for="Zipcode">
            <label for="floatingInput" class="text-dark  ms-2">Zip Code<span class="text-danger">*</span></label>
            <span asp-validation-for="Email" id="Errorinfo"></span>
        </div>
    </div>
    <div class="row">
        <div class=" col-lg-6 col-sm-12 form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" placeholder="Relation With Patient" asp-for="RoomNo">
            <label for="floatingInput" class="text-dark  ms-2">Room Number #/ Suite (Optional)</label>
        

        </div>
    </div>
    <div class="d-flex justify-content-end  mt-2">
        <button type="submit" class="btn btn-primary">Submit</button>
        <button type="button" class="btn btn-outline-primary ms-2">Cancel</button>
    </div>
</form>
<!-- script for phone number -->
<script>
    const phoneInputField = document.querySelectorAll("input[type='tel']");
    for (var i = 0; i < phoneInputField.length; i++) {
        const phoneInput = window.intlTelInput(phoneInputField[i], {
            utilsScript:
                "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
        });
    }
    $(window).on('load', function () {
        $('#myModal').modal('show');
    });
    // Remove default value from date input after page load
    window.addEventListener('DOMContentLoaded', function () {
        document.getElementById('dob').value = '';
    });

    $(document).ready(function () {
        $('input[type=text], textarea,input[type=tel],input[type=email]').keyup(function () {
            var value = $(this).val();
            if (!/\S/.test(value)) {
                $(this).val($.trim(value));
            }
        });
    });
</script>
<script>
    var phone1 = document.querySelector("#phoneNumber1");
    var phoneInput1 = window.intlTelInput(phone1, {
        utilsScript:
            "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
        nationalMode: false,
        showSelectedDialCode: true,
        autoInsertDialCode: true,
        formatOnDisplay: false,
    });
    var phone2 = document.querySelector("#phoneNumber2");
    var phoneInput2 = window.intlTelInput(phone2, {
        utilsScript:
            "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
        nationalMode: false,
        showSelectedDialCode: true,
        autoInsertDialCode: true,
        formatOnDisplay: false,
    });
</script>

@await Html.PartialAsync("_footer")

