@{
    ViewData["Title"] = "familyFriend";
}

@await Html.PartialAsync("_infoModel")

@await Html.PartialAsync("_header")

@model DataAccess.ViewModel.familyReq;
<!-- Main Body Part-->
<div class="mt-3 d-flex justify-content-between container" id="back">
    <div></div>
    <div></div>
    <button class="btn btn-outline-info btn-large" onclick="location.href='@Url.Action("submitReq", "Patient_site")'">
        <i class="bi bi-chevron-left"></i>Back
    </button>
</div>
  <form class="container form-group" method="post">
  
    <h3 class="mb-2">Family /Friend Information</h3>

    <!-- 2 column grid layout with text inputs for the first and last names -->
    <div class="row">
      <div class="col-lg-6 col-sm-12 form-floating mb-3">
        <input type="text" class="form-control " asp-for="F_Firstname" id="floatingInput" placeholder="Your First Name">
            <label for="floatingInput" class="text-dark ms-2">Your First Name<span class="text-danger">*</span></label>
            <span asp-validation-for="F_Firstname" id="Errorinfo"></span>
      </div>
      <div class="col-lg-6 col-sm-12 form-floating mb-3">
        <input type="text" class="form-control "  asp-for="F_Lastname" id="floatingInput" placeholder="Your Last Name">
            <label for="floatingInput" class="text-dark ms-2">Your Last Name<span class="text-danger">*</span></label>
            <span asp-validation-for="F_Lastname" id="Errorinfo"></span>
      </div>
    </div>
    <div class="row">
      <div class="form-floating col-xs-12 col-sm-12 col-lg-6 mb-3 ">
            <input type="tel" class="form-control p-3 ps-5 phoneNumber" asp-for="F_Phonenumber" id="phoneNumber1" placeholder="(201) 555-0123">
            
      </div>
      <div class=" col-lg-6 col-sm-12 form-floating mb-3">
        <input type="email" class="form-control" id="floatingInput" asp-for="F_Email" placeholder="name@example.com">
            <label for="floatingInput" class="text-dark ms-2">Email<span class="text-danger">*</span></label>
            <span asp-validation-for="F_Email" id="Errorinfo"></span>
      </div>
    </div>
    <div class="row">
      <div class=" col-lg-6 col-sm-12 form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" placeholder="Relation With Patient" asp-for="Relation" />
            <label for="floatingInput" class="text-dark ms-2">Relation With Patient<span class="text-danger">*</span></label>
            <span asp-validation-for="Relation" id="Errorinfo"></span>
      </div>

    </div>

    <h3 clas="mb-2">Patient Information</h3>
    <div class="row">
      <div class=" col-lg-12 form-floating mb-3">
        <textarea class="form-control" placeholder="Enter Brief Details of symptoms(optional)" id="floatingTextarea2" asp-for="Notes"
          style="height: 100px"></textarea>
        <label for="floatingTextarea2" class="text-dark ms-2">Enter Brief Details of symptoms(optional)</label>
           
      </div>

    </div>
    <div class="row">
      <div class="col-lg-6 col-sm-12 form-floating mb-3">
            <input type="text" class="form-control " id="floatingInput" placeholder="Your First Name" asp-for="Firstname" />
            <label for="floatingInput" class="text-dark ms-2">First Name<span class="text-danger">*</span></label>
            <span asp-validation-for="Firstname" id="Errorinfo"></span>
      </div>
      <div class="col-lg-6 col-sm-12 form-floating mb-3">
        <input type="text" class="form-control " id="floatingInput" placeholder="Your Last Name" asp-for="Lastname">
            <label for="floatingInput" class="text-dark ms-2">Last Name<span class="text-danger">*</span></label>
            <span asp-validation-for="Firstname" id="Errorinfo"></span>


      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-sm-12 form-floating mb-3">
        <input type="Date" class="form-control " id="floatingInput" placeholder="Date" id="dob" asp-for="DOB">
            <label for="floatingInput" class="text-dark ms-2">Date<span class="text-danger">*</span></label>
            <span asp-validation-for="DOB" id="Errorinfo"></span>

        </div>
    </div>
    <h3 class="mb-2">Patient Contact Information</h3>
    <div class="row">
      <div class=" col-lg-6 col-sm-12 form-floating mb-3">
        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" asp-for="Email">
            <label for="floatingInput" class="text-dark ms-2">Email<span class="text-danger">*</span></label>
            <span asp-validation-for="Email" id="Errorinfo"></span>
      </div>
      <div class="form-floating col-xs-12 col-sm-12 col-lg-6 mb-3">
            <input type="tel" class="form-control p-3 ps-5 phoneNumber" id="phoneNumber2" placeholder="(201) 555-0123" asp-for="Phonenumber">
            <span asp-validation-for="Phonenumber" id="Errorinfo"></span>
            
      </div>
    </div>
    <h3 class="mb-2">Patient Location</h3>
    <div class="row">
      <div class="col-lg-6 col-sm-12 form-floating mb-3">
        <input type="text" class="form-control " id="floatingInput" placeholder="Street" asp-for="Street">
        <label for="floatingInput" class="text-dark ms-2">Street</label>
           
      </div>
      <div class="col-lg-6 col-sm-12 form-floating mb-3">
        <input type="text" class="form-control " id="floatingInput" placeholder="City" asp-for="City">
        <label for="floatingInput" class="text-dark ms-2">City</label>
          
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-sm-12 form-floating mb-3">
            <select class="form-select form-control inputform1" asp-for="State">
                @foreach (var i in Model.Regions)
                {
                    <option value="@i.Regionid">@i.Name</option>
                }
            </select>

            <label for="state" class="dropdown-toggle" asp-for="State">State<span class="text-danger">*</span></label>
            
      </div>
      <div class=" col-lg-6 col-sm-12 form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" placeholder="number" asp-for="Zipcode">
            <label for="floatingInput" class="text-dark ms-2">Zip Code<span class="text-danger">*</span></label>
            <span asp-validation-for="Phonenumber" id="Errorinfo"></span>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-sm-12 form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" placeholder="Relation With Patient">
        <label for="floatingInput" class="text-dark ms-2">Room Number #/ Suite (Optional)</label>
           
      </div>
    </div>
    <h3 class="mb-2">(Optional)Upload Photo Or Document</h3>
    <div class="form mb-3 col-lg-12 col-md-12 col-sm-12 d-flex">

      <div class="input-group mb-3">
        <input type="file" class="form-control" id="inputGroupFile02">
        <label class="input-group-text bg-primary text-white" for="inputGroupFile02"><i
            class="fa fa-cloud-arrow-up "></i>&nbsp;Upload</label>
      </div>

    </div>
    <div class="d-flex justify-content-end  mt-2">
        <button type="submit" class="btn btn-primary">Submit</button>
      <button type="button" class="btn btn-outline-primary ms-2">Cancel</button>
    </div>
  </form>
  <!-- script for phone number -->
  <script>
    window.addEventListener('DOMContentLoaded', function () {
        document.getElementById('dob').value = '';
    });


    const phoneInputField = document.querySelectorAll("input[type='tel']");
    for (var i = 0; i < phoneInputField.length; i++) {
      const phoneInput = window.intlTelInput(phoneInputField[i], {
        utilsScript:
          "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
      });
    }
   
        $(window).on('load', function () {
            $('#myModal').modal('show');
        });
   
    $(document).ready(function () {
        $('input[type=text], textarea,input[type=tel],input[type=email]').keyup(function () {
            var value = $(this).val();
            if (!/\S/.test(value)) {
                $(this).val($.trim(value));
            }
        });
    });
  </script>
<script>
    var phone1 = document.querySelector("#phoneNumber1");
    var phoneInput1 = window.intlTelInput(phone1, {
        utilsScript:
            "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
        nationalMode: false,
        showSelectedDialCode: true,
        autoInsertDialCode: true,
        formatOnDisplay: false,
    });
    var phone2 = document.querySelector("#phoneNumber2");
    var phoneInput2 = window.intlTelInput(phone2, {
        utilsScript:
            "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
        nationalMode: false,
        showSelectedDialCode: true,
        autoInsertDialCode: true,
        formatOnDisplay: false,
    });
</script>
@await Html.PartialAsync("_footer")