@using DataAccess.ViewModel;
@model LoginModel

@{
    ViewData["Title"] = "Reset_Pass";
}

<style>
    body {
        height: 100vh;
        background-image: url("/images/bg.png");
    }
</style>
<div class="d-flex  justify-content-end">
    <div>
        <img onclick="myFunction()" class="light mt-2 me-2" src="/images/darkmodelight.png" alt="">
    </div>
</div>
<div class="container" id="resetJustify">`

    <div class="d-flex justify-content-center align-items-center">
        <img class="hallodoc-img mt-5 mb-3 " id="img1" src="~/images/Login_Page_Title.png" alt="">
    </div>
    <form method="post">
    <div class="d-flex justify-content-center align-items-center">
        
        <div class="">
            <a asp-controller="Patient_Site" asp-action="Patient_Login" class="d-flex text-decoration-none align-items-center border border-0 mt-2 mb-2" id="back">
                <div class="d-flex">
                    <i class="bi bi-chevron-left"></i>
                </div>
                <span class="back-txt" id="back-btn">Back</span>
            </a>
            <div class="">
                <h2 class="mb-4" id="Title">
                    Reset Your Password
                </h2>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center align-items-center mb-2">
            <div class="form-floating mb-3 col-lg-4 col-md-6 col-sm-12 col-12">
                <input type="text" class="form-control my-icon " id="floatingInput" asp-for="Email" placeholder="Your First Name">
                <label for="floatingInput" class="text-dark ms-2">Email</label>
                <span asp-validation-for="Email" id="Errorinfo"></span>
            </div>
        </div>
    <div class="d-flex justify-content-center align-content-center mb-3">
        <button class="btn border-0 col-lg-4 col-md-6 col-sm-12 col-12"
                id="L_btn" type="submit">
            Reset Password
        </button>
    </div>
    <div class="d-flex justify-content-center mb-4">
        <a asp-controller="Patient_Site" asp-action="Patient_Login" class="mt-2 text-decoration-none" id="back">
            <i class="bi bi-chevron-left"></i>
           Back To Login
        </a>
    </form>
    </div>
    <footer class="d-flex justify-content-center align-content-center mb-5 fixed-bottom">
        <a href="#" id="anchr">Terms of condition</a> &nbsp; <a>|</a>&nbsp;
        <a href="#" id="anchr">Privacy policy</a>
    </footer>

</div>
        


