@using DataAccess.ViewModel;
@model AdminDashboard
<div class="row">
    <h4 class="mt-2">Pending Bi-Weekly timesheet</h4>
</div>
<table class="table mt-4">
    <thead class="">
        <tr class="bg-light">
            <th scope="col">Start Date</th>
            <th scope="col">Shift</th>
            <th scope="col">Nightshift Weekend</th>           
            <th scope="col">Housecall</th>
            <th scope="col">Housecall Nights Weekend</th>
            <th scope="col">Phone Consult</th>
            <th scope="col">Phone Consult Nights Weekend</th>
            <th scope="col">Batch Testing</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>



<div class="row ">
    <h4 class="mt-4 mb-3">TimeSheet Reimbursement</h4>
</div>
<table class="table">
    <thead class="">
        <tr class="bg-light">
            <th scope="col">Date</th>
            <th scope="col">Item</th>
            <th scope="col">Amount</th>
            <th scope="col">Bill</th>
            <th scope="col">Action</th>           
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
