@using DataAccess.ViewModel;
@model AdminDashboard

<p class="fs-5 fw-bold"> MDs On Call </p>
<div>
    @if (Model.PhysicianProfilList != null && Model.PhysicianProfilList.Count() > 0)
    {
        var foundMD = false;
        @foreach (var i in Model.PhysicianProfilList)
        {

            if (i.status == 3)
            {
                foundMD = true;
                <div class="d-inline-flex mb-3">
                    <div class="d-inline me-2">
                        @if (i.IsPhoto[0])
                        {
                            <img src="~/PhysicianDocuments/@i.physicianid/@i.PhotoName" style="height: 70px; width: 70px;" />
                        }
                        else
                        {
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRKIBpBz460WeOh7ds5JGbd_QaEYpB_zb9LIRvWmcUccw&s" style="height: 70px; width: 70px;" />
                        }
                    </div>
                    <p>@i.firstName</p>
                </div>
            }
        }
        @if (!foundMD)
        {
            <div class="d-flex justify-content-center align-items-center pt-5">
                <strong class="fs-2 fw-normal text-center  text-secondary"> No MD Found </strong>
            </div>
        }
    }
    else
    {
        <div class="d-flex justify-content-center align-items-center pt-5">
            <strong class="fs-2 fw-normal text-center  text-secondary"> No MD Found </strong>
        </div>
    }


</div>


<p class="fs-5 fw-bold"> Physicians Off Duty </p>
<div class="d-flex justify-content-between">
    @if (Model.PhysicianProfilList != null && Model.PhysicianProfilList.Count() > 0)
    {
        var foundMD = false;
        @foreach (var i in Model.PhysicianProfilList)
        {
            if (i.status != 3)
            {
                foundMD = true;
                <div class="d-inline-flex mb-3">
                    <div class="d-inline me-3">
                        @if (i.IsPhoto[0])
                        {
                            <img src="~/PhysicianDocuments/@i.physicianid/@i.PhotoName" style="height: 70px; width: 70px;" />
                        }
                        else
                        {
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRKIBpBz460WeOh7ds5JGbd_QaEYpB_zb9LIRvWmcUccw&s" style="height: 70px; width: 70px;" />
                        }
                    </div>
                    <p>@i.firstName</p>
                </div>
            }
        }
        @if (!foundMD)
        {
            <div class="pt-5">
                <strong class="fs-2 fw-normal text-center  text-secondary"> No MD Found </strong>
            </div>
        }
    }
    else
    {
        <div class="d-flex align-items-center pt-5">
            <strong class="fs-2 fw-normal text-center  text-secondary"> No MD Found </strong>
        </div>
    }

</div>
