@using DataAccess.ViewModel;
@model AdminDashboard

<p class="fs-5 fw-bold"> MDs On Call </p>
<div class="d-flex justify-content-between">
    @if (Model.oncall != null && Model.oncall.Count() > 0)
    {
        var foundMD = false;
        @foreach (var i in Model.oncall)
        {


            foundMD = true;
            <div class="d-inline-flex mb-3">
                <div class="d-inline me-2">
                    @if (i.Photo != null)
                    {
                        <img src="~/PhysicianDocuments/@i.Physicianid/@i.Photo" style="height: 70px; width: 70px;" />
                    }
                    else
                    {
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRKIBpBz460WeOh7ds5JGbd_QaEYpB_zb9LIRvWmcUccw&s" style="height: 70px; width: 70px;" />
                    }
                </div>
                <p>@i.Firstname @i.Lastname</p>
            </div>

        }
        @if (!foundMD)
        {
            <div class="d-flex justify-content-center align-items-center py-2">
                <strong class="fs-2 fw-normal text-center  text-secondary"> No On Call MD Found </strong>
            </div>
        }
    }
    else
    {
        <div class="d-flex justify-content-center align-items-center py-2">
            <strong class="fs-2 fw-normal text-center  text-secondary"> No On Call MD Found </strong>
        </div>
    }


</div>


<p class="fs-5 fw-bold"> Physicians Off Duty </p>
<div class="d-flex justify-content-between">
    @if (Model.offduty != null && Model.offduty.Count() > 0)
    {
        var foundMD = false;
        @foreach (var i in Model.offduty)
        {

            foundMD = true;
            <div class="d-inline-flex mb-3">
                <div class="d-inline me-3">
                    @if (i.Photo != null)
                    {
                        <img src="~/PhysicianDocuments/@i.Physicianid/@i.Photo" style="height: 70px; width: 70px;" />
                    }
                    else
                    {
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRKIBpBz460WeOh7ds5JGbd_QaEYpB_zb9LIRvWmcUccw&s" style="height: 70px; width: 70px;" />
                    }
                </div>
                <p>@i.Firstname @i.Lastname</p>
            </div>

        }
        @if (!foundMD)
        {
            <div class="py-2">
                <strong class="fs-2 fw-normal text-secondary d-flex justify-content-center"> No Off Duty MD Found </strong>
            </div>
        }
    }
    else
    {
        <div class="d-flex align-items-center py-2">
            <strong class="fs-2 fw-normal text-secondary"> No Off Duty MD Found </strong>
        </div>
    }

</div>