
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<nav class=" navbar position-sticky  " style="border: 1px solid white;">
    <a class="navbar-brand" href="#">
        <img src="/images/Login_Page_Title.png" id="nav-icon" alt="">
    </a>
   
   
    <a class="navbar-brand" href="#">
        <img src="/images/darkmodelight.png" onclick="myFunction()" id="dark-icon" alt="">
    </a>
</nav>



<script src="~/js/site.js" asp-append-version="true"></script>