<footer class="bg-dark text-white mt-2 sticky-bottom" id="footerMain" style="border:1px solid white">
    <div class=" d-flex justify-content-end p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        <a class="text-white text-decoration-none">Term of Condition</a>&nbsp|&nbsp
        <a class="text-white text-decoration-none">Privacy Policy</a>
    </div>
</footer>
