
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<nav class=" shadow navbar position-sticky mb-5 " style="border: 1px solid white;">
    <a class="navbar-brand" href="#">
        <img src="/images/Login_Page_Title.png" id="nav-icon" alt="">
    </a>
    <a class="navbar-brand" href="#">
        <button class="m-3 p-2 px-3 me-3 ms-1 ms-md-3 rounded btn btn-outline-info btn-toggle">
            <i class="fa fa-moon i-info"></i>
        </button>
    </a>
</nav>
@*<script src="~/js/site.js" asp-append-version="true"></script>
<button onclick=myFunction() id="dark-icon" class="btn btn-outline-info position-absolute  end-0 ">
    <i class="fa fa-moon-o" aria-hidden="true"></i>
</button>
<div class="d-flex justify-content-center align-items-center mt-4" id="nav-icon">
    <img class=" mt-5 mb-5" src="~/images/Login_Page_Title.png" alt="hallodoc" />


</div>  *@
@*<script>
    const btn1 = document.querySelector(".btn-toggle");
    const prefersDarkScheme = window.matchMedia("(prefers-color-scheme: dark)");

    const currentTheme = localStorage.getItem("theme");
    if (currentTheme == "dark") {
        document.body.classList.toggle("dark-theme");
    }
    else if (currentTheme == "light") {
        document.body.classList.toggle("light-theme");
    }

    btn1.addEventListener("click", function () {
        if (prefersDarkScheme.matches) {
            document.body.classList.toggle("light-theme");
            var theme = document.body.classList.contains("light-theme") ? "light" : "dark";
        }
        else {
            document.body.classList.toggle("dark-theme");
            var theme = document.body.classList.contains("dark-theme") ? "dark" : "light";
        }
        localStorage.setItem("theme", theme);
    });
</script>*@
