
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<nav class=" shadow navbar position-sticky mb-5 " style="border: 1px solid white;">
    <a class="navbar-brand" href="#">
        <img src="/images/Login_Page_Title.png" id="nav-icon" alt="">
    </a>
    <a class="navbar-brand" href="#">
        <button onclick=myFunction() id="dark-icon" class="btn btn-outline-info position-absolute  end-0 ">
            <i class="fa fa-moon-o" aria-hidden="true"></i>
        </button>
    </a>
</nav>
@*<script src="~/js/site.js" asp-append-version="true"></script>
<button onclick=myFunction() id="dark-icon" class="btn btn-outline-info position-absolute  end-0 ">
    <i class="fa fa-moon-o" aria-hidden="true"></i>
</button>
<div class="d-flex justify-content-center align-items-center mt-4" id="nav-icon">
    <img class=" mt-5 mb-5" src="~/images/Login_Page_Title.png" alt="hallodoc" />


</div>  *@