@model Int32

    <h3 class="">Confirmation for accept Request</h3>
    <p>Are sure you want to accept this Request?</p>
    <input type="hidden" id="acceptRequestid" />
    <button type="button" class="btn btn-info text-light" onclick="AcceptRequest()" data-bs-dismiss="modal">Accept</button>
    <button type="button" class="btn border border-info text-info" data-bs-dismiss="modal">Cancel</button>

<script>
 
 function AcceptRequest() {
     var id =@Model;
     $.ajax({
         url: '/Provider/AcceptRequest',
         type: 'POST',
         data: { Requestid: id },
         success: function (result) {
                //$('#block-history-partial-table').html(data);
                console.log("sucess");

                $('#modeldiv').modal('hide');
                if (result.success) {
                    var TabId = "Dashboard";
                    
                    $.ajax({
                        url: '/Provider/GetTabs',
                        data: { Tabid: TabId },
                        method: 'Post',
                        success: function (data) {
                            $("#TabContent").html(data);
                            toastr.success("Request Accepted successfully!");
                        },
                        error: function () {
                            console.error('Error fetching partial view.');
                        }
                    });

                }
                else {
                    toastr.error("Please provide valid data.");
                }
            
            },
     });
 }
</script>