@using DataAccess.ViewModel;
@model ProviderDash

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>

<div class="row justify-content-center mb-5 pb-5">
    <div class="row my-4 mx-0 col-xl-6 col-md-8 col-11">
        <p class="col fs-4 fw-bold pb-0 mb-0 d-inline">Timesheets</p>
        <div class="col mb-0 text-end">
            <a class="text-decoration-none text-info rounded border border-info p-2" onclick="LoadDashboard()">
                <i class="bi bi-chevron-left text-info"></i>
                Back
            </a>
        </div>
    </div>

    <div class="m-4 shadow col-xl-6 col-md-8 col-11">
        <div class="mx-2">
            <div class="d-inline d-md-flex align-items-center justify-content-between">
                <div class="d-flex ms-2 mt-3 mb-1">
                    @* <input type="text" id="datepicker" name="selectedDate"> *@
                    <div class="form-floating">
                        <select class="form-select regionDropDown dark-background-div" id="dateDropdown" aria-label="Floating label select example"></select>
                        <label for="dateDropdown" class="text-white1"><i class="bi bi-search ms-2"></i> Search by </label>
                    </div>
                   
                </div>

                <div class="d-flex flex-wrap align-items-center ms-2 mt-3 mb-1">
                   
                        <div class="d-flex flex-wrap align-items-center ms-2 mt-3 mb-1">
                            <button class="me-1 rounded btn border border-info text-info" id="finalizeButton" onclick="finalizeTimesheet()">
                                Finalize Timesheet
                            </button>
                        </div>
                   


                </div>
            </div>

            <div id="timeSheet">
                <p class="text-secondary">No Record(s) Found</p>
            </div>
        </div>
    </div>

    <div class="m-4 shadow col-xl-6 col-md-8 col-11 mt-3">
        <div class="mx-2">
            <p class="col fs-5 fw-semibold pb-0 mb-0 d-inline">TimeSheet Reimbursement</p>
        </div>

        <div class="mb-2" id="timeSheetReimbursement">
            <p class="text-secondary">No Record(s) Found</p>
        </div>
    </div>
</div>
<script>
    var start = moment();

    // Function to generate date ranges with varying intervals based on the number of days in the month
    function generateDateRanges() {
        let dropdown = document.getElementById("dateDropdown");
        let startDate = moment().startOf('month'); // Start from the 1st of the current month
        let endDate = moment().endOf('month'); // End at the end of the current month

        while (startDate <= endDate) {
            let endDateRange;
            if (startDate.daysInMonth() === 31) {
                endDateRange = moment(startDate).add(15, 'days'); // If the month has 31 days, use a 16-day interval
            } else {
                endDateRange = moment(startDate).add(14, 'days'); // Otherwise, use a 15-day interval
            }

            let option = document.createElement("option");
            let startDateString = startDate.format("YYYY/MM/DD");
            let endDateString = endDateRange.format("YYYY/MM/DD");
            option.value = startDateString + ' - ' + endDateString;
            option.text = startDateString + ' - ' + endDateString;
            dropdown.add(option);
            startDate = endDateRange.add(1, 'day'); // Move start date to the next interval
        }
    }

    document.getElementById('dateDropdown').addEventListener('change', function () {
        let selectedOption = this.options[this.selectedIndex].value;
        let startDateString = selectedOption.split(' - ')[0];
        start = moment(startDateString);
        SearchDataByRange(startDateString);
    });

    $(document).ready(function () {
        generateDateRanges();
    });

    function SearchDataByRange(start) {
        start = moment(start);
        var startDate = start.format("YYYY-MM-DD");
        $('#timeSheet').load('@Url.Action("SearchDataByRange", "Provider")?startDate=' + startDate);
        $('#timeSheetReimbursement').load('@Url.Action("LoadTimeSheetReimbursement", "Provider")?startDate=' + startDate);
    }

    function FinalizeInvoicing(start) {
        var startDate = start.format("YYYY-MM-DD");
        $.ajax({
            url: '/Provider/LoadFinalizeInvoicing',
            type: 'Post',
            data: {
                startDate: startDate
            },
            success: function (result) {
                $('#TabContent').html(result);
            }
        });
    }
</script>

