/*Global CSS*/
#Errorinfo{
    color:red;
}

.floating-input,.form-control input{
    text-decoration-color: blue; 
}
/*Toast*/
.toast {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 300px;
    z-index: 10000;
}

.toast-success {
    background-color: #4CAF50;
    color: white;
}

.toast-error {
    background-color: #f44336;
    color: white;
}
/*Patient_site CSS*/
.hallodoc-img {
    width: 200px;
    height: 100px;
}
.light {
    width: 30px;
    height: 30px;
}
.under {
    margin-top: 100%;
}

.terms {
    background-color: #f8f8f9;
    margin-bottom: 5%;
}
#subReq{
    margin-top:200px;

}
#resetJustify{
    margin-top:80px;
}

/*Login Page*/
.icon1{
    position:absolute;
    top:25%;
   right:2%;
   border:none;
 background-color:white;
}
.icon4{
    position:absolute;
    top:30%;
    right:5%;
}

#loginJustify {
    margin-bottom: 200px;
}
#anchr {
    color: rgb(65, 56, 57);
    text-decoration:none;
}
#anchr:hover {
    color:deepskyblue;
}
#L_btn {
    height:50px;
    background-color:deepskyblue;   
}
#forgetPass {
    color: deepskyblue;
    text-decoration: none;
}
#back {
    color: deepskyblue;
}
#Input_F{
    width:35%;
}
#Register_Btn{
    background-color:darkblue;
    height:50px;
}
.my-icon {
    padding-right: calc(1.5em + 0.75rem);
    background-image: url("/images/Contact.png");
    background-repeat: no-repeat;
    background-position: center right calc(0.375em + 0.1875rem);
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}
#Title {
    color: rgb(65, 56, 57);
}
body {
    /* background-image:url(/images/Login_right.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
    background-position: center;
}
.dark-mode {
    background-color: black;
    color: white;
    opacity: 50%;
}

.my-icon {
    padding-right: calc(1.5em + 0.75rem);
    background-image: url("/images/Contact.png");
    background-repeat: no-repeat;
    background-position: center right calc(0.375em + 0.1875rem);
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}
.title {
    margin-top: 100%;
}
.back {
    height: 15px;
    width: 16px;
}
#back-btn {
    color: #00b8e6;
    text-decoration: none;
}

#footer {
    margin-top: 60%;
}

#reset {
    background-color: #00b8e6;
    color: white;
}

body {
    /* background-image:url(/images/Login_right.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
    background-position: center;
}

.dark-mode {
    background-color: black;
    color: white;
    opacity: 50%;
}

.my-icon {
    padding-right: calc(1.5em + 0.75rem);
    background-image: url("/images/Contact.png");
    background-repeat: no-repeat;
    background-position: center right calc(0.375em + 0.1875rem);
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

.hallodoc-img {
    width: 200px;
    height: 100px;
}



.title {
    margin-top: 100%;
}

.light {
    height: 30px;
    width: 30px;
}

.back {
    height: 15px;
    width: 16px;
}
#back-btn {
    color: #00b8e6;
    text-decoration: none;
}
#footer {
    margin-top: 60%;
}
#reset {
    background-color: #00b8e6;
    color: white;
}
/* Header */
#nav-icon {
    width: 150px;
    height: 60px;
}
#dark-icon {
    width: 30px;
    height: 30px;
}
/* Create Request */
#btn1 {
    width:250px;
    height:70px;
    text-align: left;
    color: #476BCB !important;
    
    background-color:#E7EAF1 !important;
    border: 2px solid #D5EDF7 ;
}

#btn2 {
    width: 250px;
    height: 50px;
    text-align: left;
    color: #25B2E8;
    background-color: #E7F2F8;
    border: 1px solid #77ad7d;
}

#btn3 {
    width:250px;
    height: 50px;
    text-align: left;
    background-color: #E9F0E8;
    color:#308726;
}

#btn4 {
    width: 250px;
    height: 50px;
    text-align: left;
    color: #D13390;
    background-color: #f6E6F0;
    border: 1px solid #D13390;
}
#modelBtn {
    margin-left: 50%;
}
.btns {
    height: 30px;
}
#phone {
    width: 640px;
    height: 58px;
}
.iti {
    width: 100%;
}

#back-btn {
    color: #00b8e6;
    text-decoration: none;
}
#formJustify{
    margin-top:150px;
}
.background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/images/bg.png");
    background-position: center;
    background-size: cover;
    
    z-index: -1;
}
/**dashboard*****/


.tab-links {
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

    .tab-links::after {
        content: "";
        width: 0;
        height: 3px;
        background-color: deepskyblue;
        position: absolute;
        left: 0;
        bottom: -8px;
        transition: 0.5s;
    }

    .tab-links.active-link::after {
        width: 100%;
    }

.tab-contents {
    display: none;
}

    .tab-contents.active-tab {
        display: block;
    }
    /********drak mode ***********/

/*:root {
    color-scheme: light dark;
    --primary-color: #0ba4c2;
}

html, body {
    height: 100vh;
}

body {
    --text-color: #262626;
    --bg-color: #fff;
}

    body.dark-theme {
        --text-color: #eee;
        --bg-color: #262626;
    }

@media (prefers-color-scheme: dark) {
    body {
        --text-color: #eee;
        --bg-color: #262626;
    }

        body.light-theme {
            --text-color: #262626;
            --bg-color: #fff;
        }

    img {
        opacity: .75;
        transition: opacity .5s ease-in-out;
    }
}

body, input, select, textarea, label, .modal-content, .iti__country-list {
    background: var(--bg-color) !important;
}

h1, h2, h3, h4, h5, h6, label, strong, input, textarea, i, p, td, .modal-content, .iti__country-list {
    color: var(--text-color) !important;
}*/







/*******************Admin site***********************/
.newbtn {
    background-color: rgb(219, 225, 255);
    color: darkblue;
    border: 1px solid darkblue;
}
    .newbtn:hover, .newbtn.active {
        background-color: #4263f5;
        color: white;
        box-shadow: none;
    }
.darkbluetri {
    color: #4263f5;
    display: none;
}

.triangle-down {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid;
}
.activebtn {
    color: #14A44D;
    background-color: #d9ffcc;
}
    .activebtn:hover, .activebtn.active {
        background-color: #2fb800;
        color: white;
        box-shadow: none;
    }
.lightbluetri {
    color: #00ffff;
    display: none;
}

.pendingbtn {
    color: #2cc7f1;
    background-color: #e5f2fa;
    border: 1px solid #2cc7f1;
}
    .pendingbtn:hover, .pendingbtn.active {
        background-color: #00ffff;
        color: white;
        box-shadow: none;
    }
.greentri {
    color: #2fb800;
    display: none;
}

.concludebtn {
    color: #912261;
    background-color: #ffdff1;
    border: 1px solid #912261;
}
    .concludebtn:hover, .concludebtn.active {
        background-color: #912261;
        color: white;
        box-shadow: none;
    }
.pinktri {
    color: #912261;
    display: none;
}

.toclosebtn {
    color: #0181f8;
    background-color: #e5f2fa;
    border: 1px solid #0181f8;
}
    .toclosebtn:hover, .toclosebtn.active {
        background-color: #0181f8;
        color: white;
        box-shadow: none;
    }
.bluetri {
    color: #0181f8;
    display: none;
}
.unpaidbtn {
    color: mediumslateblue;
    background-color: #dce1ff;
    border: 1px solid mediumslateblue;
}
    .unpaidbtn:hover, .unpaidbtn.active {
        background-color: mediumslateblue;
        color: white;
        box-shadow: none;
    }
.purpletri {
    color: mediumslateblue;
    display: none;
}
#dot {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    display: inline-block;
}
.patientdot {
    background-color: #00e600;
}
.businessdot {
    background-color: darkmagenta;
}
.familydot {
    background-color:orange ;

}
.condot {
    background-color:blue;
}
.searchicon {
    position: absolute;
    top: 51%;
    left:13%;
}
/****schweduling****/
/*
/ for calendar /*/
#shifts {
    margin-bottom: -40px !important;
}

#calendar {
    margin-top: -40px !important;
}

.fc-toolbar {
    display: grid !important;
    grid-template-columns: 1fr !important;
    grid-template-rows: auto auto !important;
}

.fc-toolbar-title {
    margin-bottom: 10px !important;
}

.fc-toolbar .fc-toolbar-chunk:nth-child(1) {
    grid-column: 1;
    grid-row: 1;
}

.fc-toolbar .fc-toolbar-chunk:nth-child(2) {
    grid-column: 1;
    grid-row: 2;
}

.fc-toolbar .fc-toolbar-chunk:nth-child(3) {
    grid-column: 2;
    grid-row: 2;
}

.fc-button-primary.fc-button-active {
    background-color: #0dcaf0 !important;
    box-shadow: none !important;
    background-image: none !important;
    color: white !important;
}

.fc-button-primary {
    margin: 0px 10px 0px 10px !important;
    padding: 5px 15px 5px 15px;
    align-items: center !important;
    border-color: #0dcaf0 !important;
    background-image: none !important;
    background-color: transparent !important;
    color: #0dcaf0 !important;
    border: 1px solid #0dcaf0 !important;
    border-radius: 10px !important;
    font-weight: normal !important;
}

.fc-daygrid-day-top {
    text-align: center !important;
    padding: 8px 0px 8px 0px !important;
    background-color: rgb(239, 174, 218) !important;
}

.fc-prev-button {
    margin-right: 5px !important;
    border-radius: 50% !important;
    border: none !important;
    background-color: #0dcaf0 !important;
    background-image: none !important;
}

.fc-next-button {
    margin-right: 5px !important;
    border-radius: 50% !important;
    border: none !important;
    background-color: #0dcaf0 !important;
    background-image: none !important;
}

/*a {
    text-decoration: none !important;
    color: inherit !important;
}
*/
.fc-icon {
    color: white !important;
}

.fc-license-message {
    display: none !important;
}

.fc-col-header-cell-cushion {
    text-transform: uppercase !important;
}

/* for header*/
tr .fc-timeline-slot-frame {
    background-color: #6a6767 !important;
    color: white !important;
    padding: 20px 0px 20px 0px !important;
    height: 40px !important;
}

@media screen and (max-width: 700px) {
    #shifts {
        margin-bottom: 0px !important;
    }

    #calendar {
        margin-top: 0px !important;
    }

    .fc-toolbar .fc-toolbar-chunk:nth-child(2) {
        grid-column: 1 !important;
        grid-row: 2 !important;
        margin-bottom: 5px !important;
    }

    .fc-toolbar .fc-toolbar-chunk:nth-child(3) {
        grid-column: 1 !important;
        grid-row: 3 !important;
    }

    .fc-scrollgrid-sync-inner {
        font-size: 0.8em !important;
    }

    .fc-timegrid-axis-frame {
        display: none !important
    }
}

th[role=presentation] {
    background-color: #6a6767 !important;
    color: white !important;
}

th[role=columnheader] .fc-datagrid-cell-frame {
    height: 40px !important;
    justify-content: center !important;
}

.fc-daygrid-day-top {
    justify-content: center !important;
}

.fc-event {
    height: 46px !important;
}


