@using DataAccess.ViewModel;
@model AdminDashboard

<div class="container-fluid">
    <div>
        <div class=" d-flex justify-content-between mt-5">
            <h4>Blocked History</h4>

            @*  <button type="button" class="hoverbtn btn btn-outline-info p-2 pe-3 bi bi-chevron-left backbtn">
            Back
            </button>*@

        </div>

        <div class="shadow dashboard-card container-fluid mt-4 pb-3 px-3">

            <form id="BlockData">

                <div class="row align-items-center">
                    <div class="col-2 mt-3">
                        <div class="form-floating">
                            <input type="text" class="form-control searchname" placeholder="Enter receiver name"
                                   id="floatingTextarea2" asp-for="searchstream.Name" />
                            <label for="floatingTextarea2">Name</label>
                        </div>
                    </div>
                    <div class="col-2 mt-3">
                        <div class="form-floating">
                            <input type="date" class="form-control searchdate" placeholder="Created Date"
                                   id="floatingTextarea2" asp-for="searchstream.createdDate">
                            <label for="floatingTextarea2">Date</label>
                        </div>
                    </div>
                    <div class="col-2 mt-3">
                        <div class="form-floating">
                            <input type="text" class="form-control searchemail" placeholder="Enter Email ID"
                                   id="floatingTextarea2" asp-for="searchstream.email">
                            <label for="floatingTextarea2">Email</label>
                        </div>
                    </div>

                    <div class="col-2 mt-3">
                        <div class="form-floating">
                            <input type="tel" class="form-control searchnumber" placeholder="Sent Date"
                                   id="floatingTextarea2" asp-for="searchstream.number">
                            <label for="floatingTextarea2">Phone Number</label>
                        </div>
                    </div>
                    <div class="col-1 d-flex justify-content-between">

                        <button type="submit" class="btn btn-info align-middle m-2">
                            Search
                        </button>
                        <button type="button" class="btn btn-outline-info align-middle m-2" onclick="clearSearch()">
                            Clear
                        </button>
                    </div>
                </div>
            </form>
            @* <div class="row">
            <label>Select Page Size</label><br />
            <div class="col-10">
            <select class="form-select" id="pageSize" style="width:fit-content">
            <option value="3">3</option>
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="15">15</option>
            </select>
            </div>
            </div>*@
            <div id="block-history-partial-table"></div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $.ajax({
            url: "/Admin/BlockedHistoryPartialTable",
            type: 'POST',
            success: function (result) {
                console.log("Fve");
                $('#block-history-partial-table').html(result);
            },
            error: function (error) {
                console.log(error);
                alert('error fetching details')
            },
        });
    });



    function unblockreq() {
        debugger;
        var blockreqId = $(".unblockreq").data("btn");
        //var ViewId = $(this).data('btn');


        $.ajax({
            url: '@Url.Action("UnblockRequest", "Admin")',
            type: 'Post',
            data: { blockreqId: blockreqId },
            success: function (result) {
                $('#block-history-partial-table').html(result);
                swal("Done!", "Request Successfully Unblocked!", "success");
                toastr.success("Request Blocked Successfully");
            },
            error: function (xhr, status, error) {
                swal("Failed!", "Request Failed To Unblock!", "Error");
            }
        });
    }

    function clearSearch() {
        
        $("#BlockData")[0].reset();

        $.ajax({
            url: "/Admin/BlockedHistoryPartialTable",
            type: 'POST',
            success: function (result) {
                $('#block-history-partial-table').html(result);
            },
            error: function (error) {
                console.log(error);
                alert('error fetching details')
            },
        });
    }

</script>
<script>

    $('#BlockData').on('submit', function (e) {
        e.preventDefault();

        var data = new FormData($("#BlockData")[0]);
        $.ajax({
            url: '/Admin/BlockedHistoryPartialTable',
            type: 'Post',
            data: data,
            processData: false,
            contentType: false,
            success: function (data) {  
                $('#block-history-partial-table').html(data);
            },
            error: function () {
                console.error("Error occurred while fetching data.");
            }
        });
    });
</script>


