<div class="container mt-3 d-flex justify-content-between" id="back">
    <div class="text-black h3">Payrate</div>
    <div></div>
    <button class="btn btn-outline-info btn-large" onclick="location.href='@Url.Action("Dashboard", "Admin")'">
        <i class="bi bi-chevron-left"></i>Back
    </button>
</div>
<table class="table container mt-5">
    <thead class="">
        <tr >
            <th scope="col">Category</th>
            <th scope="col">Payrate</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr class="">
           <td>NightShift_Weekend</td>
            <td>
                <div class="col-lg-10 col-sm-6 col-md-6 form-floating mb-3">
                    <input type="text" class="form-control shadow-none"  id="firstName" placeholder="Your First Name" required>
                    <label for="firstName" class="text-secondary ms-2">PayRate</label>
                </div>
            </td>
            <td>
                <div class="d-flex  g-2">
                    <div>
                        <button type="button" id="edit" class="btn text-white px-4 p-2 bg-info" onclick=" EditBtn()">Edit</button>
                    </div>
                    <div id="editbtnz" style="display: none">
                        <button type="submit" class="btn text-white px-4 p-2 bg-info savechanges" data-value1="_Encounter">Save</button>
                        <button class="btn btn-white px-4 p-2 text-info border-info" type="button" onclick="disableEditBtn()">Cancel</button>
                    </div>
                </div>
            </td>
        </tr>
        <tr class="">
            <td>Shift</td>
            <td>
                <div class="col-lg-10 col-sm-6 col-md-6  form-floating mb-3">
                    <input type="text" class="form-control shadow-none" id="firstName" placeholder="Your First Name" required>
                    <label for="firstName" class="text-secondary ms-2">PayRate</label>
                </div>
            </td>
            <td>
                <div class="d-flex g-2">
                    <div>
                        <button type="button" id="edit" class="btn text-white px-4 p-2 bg-info" onclick=" EditBtn()">Edit</button>
                    </div>
                    <div id="editbtnz" style="display: none">
                        <button type="submit" class="btn text-white px-4 p-2 bg-info savechanges" data-value1="_Encounter">Save</button>
                        <button class="btn btn-white px-4 p-2 text-info border-info" type="button" onclick="disableEditBtn()">Cancel</button>
                    </div>
                </div>
            </td>
        </tr>
        <tr class="">
            <td>PhoneConsults</td>
            <td>
                <div class="col-lg-10 col-sm-6 col-md-6  form-floating mb-3">
                    <input type="text" class="form-control shadow-none" id="firstName" placeholder="Your First Name" required>
                    <label for="firstName" class="text-secondary ms-2">PayRate</label>
                </div>
            </td>
            <td>
                <div class="d-flex  g-2">
                    <div>
                        <button type="button" id="edit" class="btn text-white px-4 p-2 bg-info" onclick=" EditBtn()">Edit</button>
                    </div>
                    <div id="editbtnz" style="display: none">
                        <button type="submit" class="btn text-white px-4 p-2 bg-info savechanges" data-value1="_Encounter">Save</button>
                        <button class="btn btn-white px-4 p-2 text-info border-info" type="button" onclick="disableEditBtn()">Cancel</button>
                    </div>
                </div>
            </td>
        </tr>
        <tr class="">
            <td>PhoneConsult_Night_Weekend</td>
            <td>
                <div class="col-lg-10 col-sm-6 col-md-6  form-floating mb-3">
                    <input type="text" class="form-control shadow-none" id="firstName" placeholder="Your First Name" required>
                    <label for="firstName" class="text-secondary ms-2">PayRate</label>
                </div>
            </td>
            <td>
                <div class="d-flex g-2">
                    <div>
                        <button type="button" id="edit" class="btn text-white px-4 p-2 bg-info" onclick=" EditBtn()">Edit</button>
                    </div>
                    <div id="editbtnz" style="display: none">
                        <button type="submit" class="btn text-white px-4 p-2 bg-info savechanges" data-value1="_Encounter">Save</button>
                        <button class="btn btn-white px-4 p-2 text-info border-info" type="button" onclick="disableEditBtn()">Cancel</button>
                    </div>
                </div>
            </td>
        </tr>
        <tr class="">
            <td>BatchTesting</td>
            <td>
                <div class="col-lg-10 col-sm-6 col-md-6  form-floating mb-3">
                    <input type="text" class="form-control shadow-none" id="firstName" placeholder="Your First Name" required>
                    <label for="firstName" class="text-secondary ms-2">PayRate</label>
                </div>
            </td>
            <td>
                <div class="d-flex  g-2">
                    <div>
                        <button type="button" id="edit" class="btn text-white px-4 p-2 bg-info" onclick=" EditBtn()">Edit</button>
                    </div>
                    <div id="editbtnz" style="display: none">
                        <button type="submit" class="btn text-white px-4 p-2 bg-info savechanges" data-value1="_Encounter">Save</button>
                        <button class="btn btn-white px-4 p-2 text-info border-info" type="button" onclick="disableEditBtn()">Cancel</button>
                    </div>
                </div>
            </td>
        </tr>
        <tr class="">
            <td>Housecalls</td>
            <td>
                <div class="col-lg-10 col-sm-6 col-md-6  form-floating mb-3">
                    <input type="text" class="form-control shadow-none" id="firstName" placeholder="Your First Name" required>
                    <label for="firstName" class="text-secondary ms-2">PayRate</label>
                </div>
            </td>
            <td>
                <div class="d-flex  g-2">
                    <div>
                        <button type="button" id="edit" class="btn text-white px-4 p-2 bg-info" onclick=" EditBtn()">Edit</button>
                    </div>
                    <div id="editbtnz" style="display: none">
                        <button type="submit" class="btn text-white px-4 p-2 bg-info savechanges" data-value1="_Encounter">Save</button>
                        <button class="btn btn-white px-4 p-2 text-info border-info" type="button" onclick="disableEditBtn()">Cancel</button>
                    </div>
                </div>
            </td>
        </tr>
        <tr class="">
            <td>NightShift_Weekend</td>
            <td>
                <div class="col-lg-10 col-sm-6 col-md-6  form-floating mb-3">
                    <input type="text" class="form-control shadow-none" id="firstName" placeholder="Your First Name" required>
                    <label for="firstName" class="text-secondary ms-2">PayRate</label>
                </div>
            </td>
            <td>
                <div class="d-flex g-2">
                    
                    <div>
                        <button type="button" id="edit" class="btn text-white px-4 p-2 bg-info" onclick=" EditBtn()">Edit</button>
                    </div>
                    <div id="editbtnz" style="display: none">
                        <button type="submit" class="btn text-white px-4 p-2 bg-info savechanges" data-value1="_Encounter">Save</button>
                        <button class="btn btn-white px-4 p-2 text-info border-info" type="button" onclick="disableEditBtn()">Cancel</button>
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
</table>