@using DataAccess.ViewModel;
@model AdminDashboard

<div class="container shadow p-5 heightJustify" >
<form class="form container">
    <h5>Physician Information</h5>
    <fieldset id="fieldset2">
        <div class="row g-2 m-1">
            <div class="col-md-6">
                <div class="form-floating">
                    <input type="text" class="form-control" asp-for="PhysicianProfile.firstName">
                    <label for="">First Name</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-floating">
                    <input type="text" class="form-control" asp-for="PhysicianProfile.lastName" />
                    <label for="floatingSelectGrid">Last Name</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-floating">
                    <input type="email" class="form-control" asp-for="PhysicianProfile.email">
                    <label for="">Email</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-floating phone-div w-100 h-100">
                    <input type="tel" class="patientPhone form-control w-100 h-100" asp-for="PhysicianProfile.phone">
                    <label for="">Phone</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-floating">
                    <input type="text" class="form-control" asp-for="PhysicianProfile.LicenseNo">
                    <label for="">Medical License Number</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-floating">
                    <input type="text" class="form-control" asp-for="PhysicianProfile.NIPNo">
                    <label for="">NPI Number</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-floating">
                    <input type="text" class="form-control" asp-for="PhysicianProfile.SynchronizationEmailAddress">
                    <label for="">Synchronization Email Address</label>
                </div>
            </div>
            <div class="col-6 d-flex justify-content-start flex-wrap mt-4">
                <div>
                </div>
            </div>
        </div>
    </fieldset>

    <div class="d-flex justify-content-end">
        <div class="d-flex justify-content-end gap-2">
            <button type="button" id="edit2" class="btn btn-info btn-lg p-2 px-4 info-button text-white ProviderPartialViews" data-value="PayRate"> Enter Payrate</button>
            <button type="button" id="edit2" class="btn btn-info btn-lg p-2 px-4 info-button text-white" onclick=" EditBtn2()">Edit</button>
            <div id="edit2btnz" style="display: none">
                <button type="button" class="btn btn-info me-2 btn-lg p-2 px-4 info-button text-white savechanges" data-value1="Myprofile-tab" onclick="disableEditBtn2()">Save</button>
                <button type="reset" class="btn btn-info btn-lg p-2 px-4 button-info text-white" onclick="disableEditBtn2()">Cancel</button>
            </div>
        </div>
    </div>

   @* <input asp-for="ProviderInfo.formid" value="2" hidden />
    <input asp-for="ProviderInfo.PhysicianId" value="@Model.ProviderInfo.PhysicianId" hidden />
    <input asp-for="ProviderInfo.viewid" value="PhysicianAccountEdit" hidden /> *@
    @* <input asp-for="PayLoad.physicianId" value="@Model.ProviderInfo.PhysicianId" hidden />
    <input asp-for="PayLoad.ViewId" value="PhysicianAccountEdit" hidden /> *@

</form>
</div>
<script>
    $('.ProviderPartialViews').click(HeaderPartialView);
</script>